<h1>Detalle de carrito</h1>
{{#each carrito}}
  <div id="productos-container">
  
      <div>
        
       
       <h2>Nombre de producto: {{carrito}}</h2>
              </div>
              {{/each}}
   
  </div>