<h1>Login</h1>
<a href="/api/usuarios/register">Registrate</a>
<a href="/githublogin">Registrate con GitHub</a>

<form action="/api/sesiones/login" method="post">
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email"><br>
  <label for="password">password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Loguearme!</button>
</form>